Repository KevinKoetz/woodnstone_next, pull requests merged in 2022-03, with the labels that each got.

#26 Zee branch
  admin/package.json
  admin/src/App.css
  admin/src/App.tsx
  admin/src/Components/Layout/Layout.tsx
  admin/src/index.tsx
  admin/src/logo.svg
  package-lock.json
Labels: admin

#27 User schema
  .gitignore
  admin/package.json
  backend/jest.config.js
  backend/package.json
  backend/src/index.ts
  backend/src/models/user.test.ts
  backend/src/models/user.ts
  frontend/package.json
  package-lock.json
  package.json
  types.d.ts
Labels: backend

#32 Login
  backend/package.json
  backend/src/api/index.ts
  backend/src/api/login.test.ts
  backend/src/api/login.ts
  backend/src/api/product.ts
  backend/src/common/auth.ts
  backend/src/index.ts
  backend/src/models/user.test.ts
  backend/src/models/user.ts
  package-lock.json
  types.d.ts
Labels: backend

#33 Login
  backend/src/api/login.test.ts
Labels: backend

#36 Admin login
  .gitignore
  admin/package.json
  admin/src/App.tsx
  admin/src/Components/Auth/Auth.tsx
  admin/src/Components/Layout/Layout.tsx
  admin/src/Components/Login/Login.tsx
  admin/src/Components/RequireAuth/RequireAuth.tsx
  backend/src/api/login.ts
  backend/src/index.ts
  package-lock.json
  types.d.ts
Labels: admin, backend

#39 User route
  backend/src/api/loginRoute.ts
  backend/src/api/userRoute.ts
  backend/src/common/auth.ts
  backend/src/express.user.d.ts
  backend/tests/api/userRoute.test.ts
Labels: backend
